body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    background-color: #fafbfc;
}

.header {
    background-color: #2a3f5f;
    height: 100px;
    line-height: 100px;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item {
    flex: 1;
}


.tabs {
    border-bottom: 1px solid #d6d6d6;
}

.tab {
    color:gray;
    background-color: #fafbfc !important;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
}

.tab--selected {
    color: black;
    background-color: white !important;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #00E676 !important;
    border-bottom: 1px solid #d6d6d6 !important;
}

img {
    flex: 0;
    align-self: center;
    height: 70%;
}